/doc/tags

# Command-t
/ruby/command-t/
/plugin/command-t.vim
/doc/command-t.txt
/.VimballRecord

# NERDTree
/doc/NERD_tree.txt
/nerdtree_plugin/
/plugin/NERD_tree.vim
/syntax/nerdtree.vim

/.netrwhist

# Scala
/syntax/scala.vim
/indent/scala.vim
/ftdetect/scala.vim

# Pathogen
/autoload/pathogen.vim

#Vundle
/bundle
